# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\FPT\DuAn1\DuAn1_FPOLY\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
